In [1]:
import pandas as pd

In [2]:
raw_df = pd.read_csv(r'D:\shubh\JOVIAN\ml_projects\medical-insurance-payout\expenses.csv')

In [3]:
raw_df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
def unique_values(df):
    return{col:df[col].nunique() for col in df.columns}

In [6]:
unique_values(raw_df)

{'age': 47,
 'sex': 2,
 'bmi': 548,
 'children': 6,
 'smoker': 2,
 'region': 4,
 'charges': 1337}

#### Now we will consider age, BMI, charges as numerical features and sex, smoker, region as categorical features

In [7]:
raw_df.region.value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [8]:
raw_df.sex.value_counts()

sex
male      676
female    662
Name: count, dtype: int64

In [9]:
raw_df.smoker.value_counts()

smoker
no     1064
yes     274
Name: count, dtype: int64

In [10]:
inputs = raw_df[['age', 'sex', 'bmi', 'children', 'smoker', 'region']]
target = raw_df['charges']

In [11]:
numerical_cols = ['age', 'bmi', 'children']

In [15]:
from sklearn.model_selection import train_test_split
inputs_train, input_test, target_train, target_test = train_test_split(inputs, target, test_size=0.25, random_state=42)

In [16]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
min_max = MinMaxScaler()
min_max.fit(raw_df[numerical_cols])
inputs_train[numerical_cols] = min_max.transform(inputs_train[numerical_cols])
input_test[numerical_cols] =min_max.transform(input_test[numerical_cols])

#### ENCODING

In [ ]:
dict1 = {'yes':1, 'no':0}
dict2 = {'male':1}